body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(../images/bcg.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.85);
    overflow: scroll;
    cursor: pointer;
}
#dark-mode {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}
#scoreDisplay {
    color: #fff;
    position: absolute;
    right: 0;
}

#visitor {
    position: absolute;
    border-radius: 10px;
}
#hotel-container {
    position: absolute;
    width: 100vw;
    height: 20vh;
    bottom: 0;
}
#hotel1 {
    position: absolute;
    height: 20vh;
    width: auto;
    left: 0;
}
#hotel2 {
    position: absolute;
    height: 20vh;
    width: auto;
    left: 25vw;
}
#hotel3 {
    position: absolute;
    height: 20vh;
    width: auto;
    left: 50vw;
}
#hotel4 {
    position: absolute;
    height: 20vh;
    width: auto;
    right: 0vw;
}

.elvish {
    background-color: transparent;
    height: 15vh;
    width: auto;
}
.human {
    background-color: transparent;
    height: 20vh;
    width: auto;
}
.org {
    background-color: transparent;
    height: 15vh;
    width: auto;
}
.goblin {
    background-color: transparent;
    height: 15vh;
    width: auto;
}
.gandalf {
    background-color: transparent;
    height: 15vh;
    width: auto;
}
.sauron {
    background-color: transparent;
    height: 15vh;
    width: auto;
}
.ring {
    background-color: transparent;
    height: 3vh;
    width: auto;
}
.gollum {
    background-color: transparent;
    height: 10vh;
    width: auto;
}
#sauron-won {
    display: block;
    margin-left: 20vw;
    width: 60vw;
    height: auto;
    margin-bottom: 5vh;
}
.sauron-class {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(60, 18, 18);
    position: absolute;
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
    z-index: 1;
    overflow: scroll;
    line-height: 2vh;
}
#gandalf-won {
    padding: 3vh 0;
    display: block;
    margin-left: 20vw;
    width: 60vw;
    height: auto;
}
.gandalf-class {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 67, 41);
    position: absolute;
    font-size: 2.5vw;
    line-height: 2vh;
    color: #fff;
    text-align: center;
    z-index: 1;
    overflow: scroll;
}
#gandalf-info-container {
    font-size: 3vh;
}
.sauron-info-container {
    font-size: 3vh;
}
.over-gif {
    display: block;
    margin-left: 20vw;
    width: 60vw;
    height: auto;
}

#healthDisplay {
    margin-left: 1vw;
    color: #fff;
    text-align: center;
    font-size: 2vw;
}
#heart-image {
    margin-top: 1vh;
    width: auto;
    height: 3vh;
}

#scoreDisplay {
    margin-right: 1vw;
    color: #fff;
    font-size: 1.5vw;
    text-align: center;
}
.game-over {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    font-size: 2vw;
    color: #fff;
    text-align: center;
    z-index: 1;
}
#ring-image {
    width: 2vw;
    height: auto;
    left: 50vw;
    padding-top: 0;
    position: absolute;
    text-align: center;
}
.over-title {
    font-size: 3vw;
}
.restart {
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    bottom: 0;
}

#nameForm {
    background-image: url(../images/name.gif);
    background-size: cover;
    background-position: center center;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    font-size: 10vw;
    color: #fff;
    text-align: center;
    padding-top: 10vh;
    opacity: 1;
}
#nameForm > #submit-btn {
    width: 50vw;
    height: 10vh;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.305);
    font-size: 1rem;
    color: #373981;
    font-weight: bold;
    border: 0.3rem solid #373981;
    margin-top: 5vh;
    cursor: pointer;
}
#nameForm > #submit-btn:hover {
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
#nameInput {
    background-color: rgba(255, 255, 255, 0.305);
    width: 60vw;
    height: 5vh;
    font-weight: bold;
    color: #000000;
    border: 0.2rem solid #fff;
    border-radius: 0.5vw;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    opacity: 1;
    cursor: pointer;
}
#your-name {
    margin: 10vh 0 0 0;
    padding: 0;
    font-size: 2vh;
}
#instructions-button {
    display: block;
    text-align: center;
    font-weight: bold;
    position: absolute;
    width: 30vw;
    height: 5vh;
    left: 35vw;
    margin-top: 5vh;
    background-color: rgba(255, 255, 255, 0.366);
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
#instructions-button:hover {
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#instruction-title {
    text-align: center;
    color: #fff;
    font-size: 3vw;
}
#instruction-h2 {
    text-align: center;
    color: #fff;
    font-weight: 300;
}
#instruction-list {
    list-style: none;
    list-style-position: inside;
    text-align: center;
    line-height: 4vh;
    color: #fff;
    font-size: 1.5vw;
    margin-top: 5vh;
}
.inst-char {
    height: 8vh;
    width: auto;
}
#ring-inst {
    width: 3vw;
    height: auto;
}
#gollum-inst {
    width: 4vw;
    height: auto;
}
#inst-good {
    background-image: url(../images/bcg.jpg);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    width: 45vw;
    border-radius: 2rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
    line-height: 10vh;
    position: absolute;
    left: 0;
}
#inst-bad {
    background-image: url(../images/dark-bcg.jpg);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    width: 45vw;
    border-radius: 2rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
    line-height: 10vh;
    position: absolute;
    right: 1vw;
}
#instructionsContainer {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: scroll;
    cursor: pointer;
}
#backbutton-container {
    display: block;
    position: absolute;
}
#backButton {
    position: absolute;
    display: block;
    text-align: center;
    width: 30vw;
    height: 5vh;
    left: 35vw;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0.2rem solid rgb(255, 255, 255);
    cursor: pointer;
}
#backButton:hover {
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
        0 17px 50px 0 rgba(255, 255, 255, 0.19);
    cursor: pointer;
}

#topPlayersContainer {
    background-image: url(../images/players.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: 2.5vh;
    color: #fff;
    padding-top: 10vh;
    opacity: 1;
    list-style: decimal;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}
.top-players-title {
    position: absolute;
    top: 0;
    font-size: 7vh;
    z-index: 1;
}
.player-list {
    position: absolute;
    top: 22vh;
    line-height: 5vh;
    z-index: 1;
}
.back-button {
    position: absolute;
    top: 85vh;
    text-align: center;
    width: 30vw;
    height: 5vh;
    left: 35vw;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0.2rem solid rgb(255, 255, 255);
    cursor: pointer;
}
.back-button:hover {
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
        0 17px 50px 0 rgba(255, 255, 255, 0.19);
    cursor: pointer;
}

#players-button {
    display: block;
    text-align: center;
    position: relative;
    width: 30vw;
    height: 5vh;
    left: 35vw;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0.2rem solid rgb(255, 255, 255);
    cursor: pointer;
}
#players-button:hover {
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
        0 17px 50px 0 rgba(255, 255, 255, 0.19);
    cursor: pointer;
}
#info-text {
    width: 60vw;
    height: 5vh;
    position: absolute;
    left: 20vw;
    top: 1.5vh;
    text-align: center;
    font-size: 25px;
    color: #fff;
}
